<!-- Global CTA -->

<section class="global-cta">

    <div class="container">

        <div class="cta-box">

            <h2>

                Ready to Transform Your Business?

            </h2>

            <p>

                Let INAS help you design, deploy and manage
                secure, scalable IT and ELV solutions.

            </p>
  <div class="cta-buttons">
            <a href="contact.html" class="btn btn-light btn-lg">

                Contact Us

            </a>  </div>

        </div>

    </div>

</section>

<footer>

<!--====================================================
FOOTER
=====================================================-->

<footer class="inas-footer">

    <div class="container">

        <div class="row gy-5">

               <div class="col-lg-5">

                <div class="footer-company">

     <a class="navbar-brand" href="index.html">
  <span class="brand-logo-bg">
    <img src="assets/images/hero/logo.png" alt="Infra Logo">
  </span>
</a>
                    <p class="footer-about">

                        iNAS delivers innovative IT Infrastructure,
                        Cloud, Cyber Security, ELV and Managed
                        Services that empower organisations to
                        operate securely and efficiently.

                    </p>

                </div>

</div>
            <!-- Quick Links -->

            <div class="col-lg-2">

                <h5>Quick Links</h5>

                <ul>

                    <li><a href="index.html">Home</a></li>

                    <li><a href="about.html">About Us</a></li>

                    <li><a href="contact.html">Contact</a></li>

                </ul>

            </div>
            <div class="col-lg-2">

                <h5>Services</h5>

                <ul>

                    <li><a href="infrastructure.html"> Infrastructure</a></li>

                    <li><a href="active.html">Active Networking</a></li>

                    <li><a href="consulting-services.html">Consulting Services</a></li>

                    <li><a href="managed_services.html">Managed Services</a></li>


                </ul>

            </div>
            <div class="col-lg-2">

                <h5>Contact</h5>

                <ul class="footer-contact">

                    <li>
            <i><span>
<i class="fas fa-location-dot"></span></i> <h5>Chennai</h5>     
         
                    </li>


                    <li>

                        <!-- <i class="fas fa-envelope">

    <span>info@infranetworksandsolutions.com</span>
                        
                        </i> -->


                    </li>

                </ul>
                    <div class="footer-social">

    <a href="https://www.linkedin.com/in/infra-networks-and-solutions-3099351b0/?isSelfProfile=false"
       target="_blank"
       rel="noopener noreferrer">

        <img src="assets/images/services/in.png"
             class="footer-linkedin-icon"
             alt="LinkedIn">

    </a>

</div>
            </div>

        </div>  

        <hr>

        <div class="footer-bottom">

            <p>

                © 2026 INFRA. All Rights Reserved.

            </p>

            <div>

                <a href="#">Privacy Policy</a>

                <span>|</span>

                <a href="#">Terms & Conditions</a>

            </div>

        </div>

    </div>

</footer>


</footer>