
/**++++++++++++++++++++ CTA ++++++++++**********/
body.page-elv{

   background:
    radial-gradient(
        circle at 10% 15%,
        rgba(23, 5, 46, 0.18),
        transparent 35%
    ),

    radial-gradient(
        circle at 90% 25%,
        rgba(72, 52, 130, .12),
        transparent 30%
    ),

    radial-gradient(
        circle at 50% 100%,
        rgba(76, 42, 120, .14),
        transparent 40%
    ),

    linear-gradient(
        180deg,
        #080512 0%,
        #10091f 50%,
        #070b16 100%
    );

color:#fff;
}
body.page-elv.cta-box{

    background:

    linear-gradient(
        135deg,
        #7c3aed,
        #14b8a6
    );

    color:#ffffff;

}

.elv-hero.elv-main{
    background-image:url("../images/bg/elv.webp");
}