/**++++++++++++++++++++ CTA ++++++++++**********/
body.page-passive {

    background:
        radial-gradient(circle at 10% 15%, rgba(124,77,255,.16), transparent 35%),
        radial-gradient(circle at 90% 25%, rgba(0,229,255,.08), transparent 30%),
        radial-gradient(circle at 50% 100%, rgba(139,92,246,.10), transparent 40%),
        linear-gradient(180deg,#0a081d 0%, #11152d 50%, #08111f 100%);

    color:#fff;
}
body.page-passive.cta-box{

    background:

    linear-gradient(
        135deg,
        #7c3aed,
        #14b8a6
    );

    color:#ffffff;

}
/**++++++++++++++++++++ CTA ++++++++++**********/
.elv-hero.wireless{
    background-image:url("../images/bg/wireless.webp");
}

.elv-service-card.wireless i{
    color:#7c3aed;
}

.elv-section-header.wireless .elv-section-tag i{
    color:#1cb86a;
    font-size: 24px;
}

.elv-section-header.wireless .elv-section-tag{
    color:#a78bfa;
}

.elv-carousel-slide.wireless .common-carousel-image.slide2 img {
    object-position: center;
}
.elv-carousel-slide.wireless .common-carousel-image.slide3 img {
    object-position: 30% center;
}
.elv-carousel-slide.wireless .common-carousel-image.slide5 img {
    object-position: center 20%;
}